__pycache__
this
.idea/
dcos-config--setup*.tar.xz
dcos-config-windows--setup*.tar.xz
tmp/
runner.env
artifacts/
dcos_install.sh
onprem.tar.xz
*~
*backups
.cache
docker-tag
.tox/
dcos_generate_config.sh
.*.swp
*.egg-info
wheelhouse/
./dcos-release.config.yaml

# Integration tests related:
test/build/*
PASSED
FAILED
test/.vagrant/*
packages/dcos-provider-*
package_lists
.vscode
.python-version
/dev
/*.egg-info
/packages/cache
/dcos-release.config.yaml

# Terraform stuff
.terraform/
*.tfstate.backup
**terraform.tfstate*
**terraform.d
**crash.log
plan.out
cluster.tfvars
terraform_backend.tf.json
*.auto.tfvars
bundle.zip
test-qualification/test_id_rsa
test_util/terraform.bin
test_util/terraform*.zip
test_util/terraform.initialized
test_util/cluster.json*
test_util/inventory
