HOME            = ./include/certs/
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits        = 2048
default_keyfile     = $HOME/client.key
distinguished_name  = server_distinguished_name
req_extensions      = server_req_extensions
string_mask         = utf8only

####################################################################
[ server_distinguished_name ]
countryName             = Country Name (2 letter code)
countryName_default     = US

stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = California

localityName                = Locality Name (eg, city)
localityName_default        = San Francisco

organizationName            = Organization Name (eg, company)
organizationName_default    = Mesosphere

organizationalUnitName          = Organizational Unit (eg, division)
organizationalUnitName_default  = DCOS Cert OGs

commonName              = Common Name (e.g. server FQDN or YOUR name)
commonName_default      = DCOS Test CA

emailAddress                = Email Address
emailAddress_default        = no-reply@nope.com

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier    = hash
basicConstraints        = CA:FALSE
keyUsage                = digitalSignature, keyEncipherment
subjectAltName          = @alternate_names
nsComment               = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

