git+https://github.com/dcos/dcos-e2e.git@2020.12.18.0
attrs==19.1.0
cryptography==3.2.1
docker==4.0.2
etcd3==0.11.1
PyJWT==1.7.1
kazoo==2.6.1
pytest==5.0.0
responses==0.10.6
requests==2.22.0
wheel==0.33.1
wcmatch==6.1
teamcity-messages==1.21
